<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="item:setlayoutdetails" type="Sitecore.Support.Shell.Framework.Commands.SetLayoutDetails, Sitecore.Support.157536" />
    </commands>
  </sitecore>
</configuration>